<p ng-if="!properties.PageSize">Loading, please wait...</p>

<section ng-if="properties.PageSize">

	<ul>
		<li>Region selected with Id {{regionId}}</li>
		<li>Showing {{properties.PageSize}} out of {{properties.TotalCount}}</li>
	</ul>

	<ul>
		<li ng-repeat="property in properties.List">
			<ul>
				<li><img ng-src="{{property.PictureHref}}" /></li>
				<li>{{property.Suburb}}</li>
				<li>{{property.Bedrooms}} bedrooms</li>
				<li>{{property.Bathrooms}} bathrooms</li>
				<li>{{property.RentPerWeek}} per week</li>
				<li>Available from {{property.AvailableFrom}}</li>
		</li>
	</ul>

</section>