<p ng-if="!properties.Page">Loading, please wait...</p>

<nav>
	<a href="#/">Change location</a>
</nav>

<section ng-if="properties.Page">

	<section>
		<h1>Filter</h1>
		<p ng-if="properties.TotalCount > 0">Showing {{filteredProperties.length}} out of {{properties.PageSize}}</p>

		<form ng-submit="filterProperties()">

			<label for="suburb">Suburb</label>
			<input type="text" name="suburb" ng-model="suburb"><br />

			<label for="min-price">Min price per week $</label>
			<input type="number" name="min-price" ng-model="minPrice" min="0"><br />

			<label for="max-price">Max price per week $</label>
			<input type="number" name="max-price" ng-model="maxPrice"><br />

			<label for="bedrooms">Min bedrooms</label>
			<input type="number" name="bedrooms" ng-model="bedrooms"><br />

		</form>

	</section>

	<section>

		<h1>Results</h1>
		<ul>
			<!-- create filtered list variable. See: http://stackoverflow.com/a/18593018 -->
			<li ng-repeat="property in filteredProperties = (properties.List | meetCriteria:minPrice:maxPrice:bedrooms:suburb)">
				<ul>
					<li><a href="http://www.tmsandbox.co.nz/property/residential-property-to-rent/auction-{{property.ListingId}}.htm"><img ng-src="{{property.PictureHref}}" /></a></li>
					<li>{{property.Suburb}}</li>
					<li>{{property.Bedrooms}} bedrooms</li>
					<li>{{property.RentPerWeek}} per week</li>
					<li>Available from {{property.AvailableFrom}}</li>
				</ul>
			</li>
		</ul>

		<p ng-if="filteredProperties.length == 0">No properties found</p>		

	</section>

</section>