<p ng-if="!properties.Page">Loading, please wait...</p>

<nav>
	<a href="#/">Change location</a>
</nav>

<section ng-if="properties.Page">

	<h1 ng-if="properties.TotalCount > 0">Showing {{properties.PageSize}} out of {{properties.TotalCount}}</h1>
	<h1 ng-if="properties.TotalCount == 0">Sorry, no properties found.</h1>

	<ul>
		<li ng-repeat="property in properties.List">
			<ul>
				<li><a href="http://www.tmsandbox.co.nz/property/residential-property-to-rent/auction-{{property.ListingId}}.htm"><img ng-src="{{property.PictureHref}}" /></a></li>
				<li>{{property.Suburb}}</li>
				<li>{{property.Bedrooms}} bedrooms</li>
				<li>{{property.Bathrooms}} bathrooms</li>
				<li>{{property.RentPerWeek}} per week</li>
				<li>Available from {{property.AvailableFrom}}</li>
		</li>
	</ul>

</section>