<p ng-if="!properties.Page">Loading, please wait...</p>

<nav>
	<a href="#/">Change location</a>
</nav>

<section ng-if="properties.Page">

	<h1 ng-if="properties.TotalCount > 0">Showing {{properties.PageSize}} out of {{properties.TotalCount}}</h1>
	<h1 ng-if="properties.TotalCount == 0">Sorry, no properties found.</h1>

	<section>
		<h1>Filters</h1>
		<form ng-submit="filterProperties()">
			<label for="min-price">Min price per week $</label>
			<input type="number" name="min-price" ng-model="minPrice" min="0"><br />
			<label for="max-price">Max price per week $</label>
			<input type="number" name="max-price" ng-model="maxPrice"><br />
			<input type="submit" value="filter" />
		</form>
	</section>

	<h1>Results</h1>
	<ul>
		<li ng-repeat="property in properties.List">
			<ul>
				<li><a href="http://www.tmsandbox.co.nz/property/residential-property-to-rent/auction-{{property.ListingId}}.htm"><img ng-src="{{property.PictureHref}}" /></a></li>
				<li>{{property.Suburb}}</li>
				<li>{{property.Bedrooms}} bedrooms</li>
				<li>{{property.Bathrooms}} bathrooms</li>
				<li>{{property.RentPerWeek}} per week</li>
				<li>Available from {{property.AvailableFrom}}</li>
		</li>
	</ul>

</section>