/* 
    adjust bootstrap base styles 
    note - these should be adjusted in SASS and Bootstrap CSS rebuilt
*/

body {
    font-size: 14px;
}

body, .body a {
    color: white;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, .navbar-header{
    font-family: 'Bitter', cursive;
}

.navbar-default .navbar-brand {
    color: #21314B;
}

.navbar-header {
    float: left;
}

/* view specific styles */

.Localities-bgImage {

    background: linear-gradient(
      rgba(0, 0, 0, 0.75), 
      rgba(0, 0, 0, 0)
    ), url('images/nz-dream-home.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.Localities-list {
    width: 300px;
}

.property {
    background: #333;
    display: block;
    height: 225px;
    width: 300px;
    margin: 0 10px 10px 0;
    overflow: hidden;
    position: relative;
}

.property .property-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
}

.property .property-details {
    background: linear-gradient(
      rgba(0, 0, 0, 0.8), 
      rgba(0, 0, 0, 0)
    );
    color: white;
    padding: 5px 10px 35px 10px;
}

/* Utils */

.theme-light * {
    color: black;
}

.u-fr {
    float: right;
}

.u-vertical-space {
    margin: 3em 0 2em 0;
}

.u-text-shadow {
    text-shadow: 1px 1px 1px #333;
}

.u-list-split {
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
}