/* adjust bootstrap base styles */

body {
    font-size: 14px;
}

body, a {
    color: white;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, .navbar-header{
    font-family: 'Bitter', cursive;
}

/* view specific styles */

.Localities-bgImage {

    background: linear-gradient(
      rgba(0, 0, 0, 0.75), 
      rgba(0, 0, 0, 0)
    ), url('images/nz-dream-home.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.Localities-list {
    width: 300px;
}

/* Utils */

.u-header-push {
    padding-top: 52px;
}

.u-vertical-space {
    margin: 2em 0;
}

.u-text-shadow {
    text-shadow: 1px 1px 1px #333;
}

.u-list-split {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}